:root {
    --primary-default: #36AA71;
    --primary-light: #4FD178;
    --primary-bg: #D6F4D6;
    --white: #ffffff;
    --black: #000000;
    --gray-1: #F6F6F6;
    --gray-2: #D9DADB;
    --gray-3: #878C8F;
    --gray-4: #636363;
    --gray-5: #222222;
    --card-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.15);
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    color: var(--gray-4);
}

.container {
    background-color: var(--white);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    gap: 2rem;
}

.btn {
    display: inline-block;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: .75rem 2.5rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.3s;
}

.btn-primary {
    color: var(--white);
    background-color: var(--primary-default);
    border-color: var(--primary-default);
    font-size: 1.5rem;
    text-decoration: none;
}

.btn-primary:hover {
    color: var(--white);
    background-color: var(--primary-light);
    border-color: var(--primary-light);
}

.container-btn-form {
    display: flex;
    justify-content: center;
}

.form-container {
    background-color: var(--white);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    border: 1px solid var(--gray-2);
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    box-shadow: var(--card-shadow);
}

.form-container h1 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--primary-default);
}

.form-field {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 100%;
    position: relative;
}

.form-field label {
    /* background-color: pink; */
    display: inline-block;
    width: calc(
          100% - 30px
        ); /* Ajusta el ancho al 100% menos el ancho del signo de interrogación */
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #2f2f2f;
        margin-right: 10px;
        transition: color 0.3s;
}

.form-field input {
    font-size: 1rem;
    line-height: 1.5rem;
    border: 1px solid var(--gray-2);
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
    padding: 11px 24px;
    width: 100%;
    color: var(--gray-5);
}

.form-field input:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--primary-default);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(214, 244, 214, 1);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.form-row {
    display: flex;
    align-items: end;
    gap: 1rem;
}

.form-container h2 {
    text-align: center;
    color: var(--primary-default);
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: .5rem;
}               

.form-field input[type="range"] {
    /*Aquíestáelcambioparahacerlabarraverde*/
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background: var(--gray-1);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.form-field input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--primary-default);
    cursor: pointer;
}

.form-field input[type="range"]::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--primary-default);
    cursor: pointer;
}

.form-field input::-webkit-outer-spin-button,
.form-field input::-webkit-inner-spin-button {
    /* Aquí está el cambio para ocultar las flechas */
    -webkit-appearance: none;
    margin: 0;
}

.form-field--range {
    /* background-color: pink; */
    display: flex;
    align-items: end;
    gap: 1rem;
}

.form-field--range .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.form-field--range .right {
    /* background-color: pink; */
    font-size: 1.5rem;
    margin-bottom: -2px;
    font-weight: 800;
}

.results-container {
    background-color: var(--primary-default);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    box-shadow: var(--card-shadow);
}

.results-container h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);
    text-align: center;
    margin-bottom: 1.5rem;
}

.container-cards-results {
    /* background-color: pink; */
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.card-precio-inmueble {
    padding: 1.5rem;
    background-color: var(--white);
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .25);
    border-radius: 1rem 0 1rem 0 ;
    -webkit-border-radius: 1rem 0 1rem 0 ;
    -moz-border-radius: 1rem 0 1rem 0 ;
    -ms-border-radius: 1rem 0 1rem 0 ;
    -o-border-radius: 1rem 0 1rem 0 ;
}

.card-precio-inmueble h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.card-precio-inmueble p {
    font-size: 2rem;
    font-weight: 800;
    color: var(--primary-default);
}

.question-mark {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    border: 1px solid var(--primary-default);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--white);
    color: var(--primary-default);
    font-weight: 600;
}

.question-mark:hover {
    background-color: var(--primary-default);
    color: var(--white);
  }

  .popup {
    display: none;
    position: absolute;
    width: 20rem;
    border: 1px solid var(--gray-5);
    padding: .75rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background-color: var(--gray-5);
    color: var(--white);
    margin-top: 2rem;
    z-index: 1;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.popup h3 {
    margin-bottom: .5rem;
}