/* Laptop */
@media (max-width: 1366px) {
    .form-container, .results-container {
        width: 90%;
    }
}

/* Fin laptop */

/* Tablet landscape */
@media (max-width: 1024px) {

    .container {
        padding: 24px;
    }

    .form-field label {
        font-size: .875rem;
    }

    .form-container, .results-container {
        width: 100%;
    }
}

/* Fin tablet landscape */

/* Tablet portrait */
@media (max-width: 768px) {
    .form-field label {
        font-size: 1rem;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
    }
}
/* fin tablet portrait */

/* Cell landscape */
@media (max-width: 736px) {

}

/* Fin cell landscape */

/* Cell portrait */
@media (max-width: 480px) {

}

/* Fin cell portrait */

